<%- include("partials/header") %>

<h2><%= title %></h2>
<p>This shows a list of the students and their grades</p>
<a href="/students">STUDENTS</a>
<p>
EJS stands for Embedded JavaScript Templates - it allows you to write logic directly in HTML.

You can reuse layout pars using partials (header/footer).

You can inject variables and arrays from your Node.js backend into your HTML easily.

It's often used in small-to-medium Express apps or admin dashboards where you don't need a full frontend framework like React.
</p>

<%- include("partials/footer") %>